{% extends 'base.html.twig' %}
{% block body_id 'main' %}

    {% block map %}
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map"></div>
        <h4 id="info"></h4>
        <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFaA3gybURsl7iwQf4hR6PenuyhdtxIFo&callback=initMap&libraries=places" "></script>
    {% endblock %}

    {% block interactions %}{% endblock %}